.description p + p {
  margin-top: 1em;
}

.description a {
  color: #00c39d;
  text-decoration: underline;
}

.past-event-text {
  opacity: 0.66;
  transition: opacity 150ms ease-in-out;
}

.past-event-text:hover {
  opacity: 1;
}
